# dependencies
node_modules/

# Supabase local temp/runtime artifacts
supabase/.temp/

# environment / secrets
.env
.env.*
!.env.example

# OS junk
.DS_Store
Thumbs.db

# editor junk
.vscode/*.log

# build output
dist/
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/app/.gradle/
android/app/.idea/
android/app/google-services.json
android/local.properties
android/app/local.properties

#private build items
js/private-copy.js

.vercel
